<div class="block block--tweet" {{action "toggleExpanded"}}>
  <div class="block__header">
    {{#if user}}
      {{tweet-avatar user=user}}
      <a href="#">{{user.name}}</a> @{{user.screen_name}} • <a href="#">{{tweet-timestamp time=created_at}}</a>
    {{/if}}
  </div>
  <div class="block__text">
    <p>{{yield}}</p>
  </div>
  {{#if media}}
    {{tweet-media media=media}}
  {{/if}}
  {{#if isExpanded}}
    <p>Expanded</p>
  {{/if}}
</div>
