<div class="block block--tweet" {{action "toggleExpanded"}}>
  <div class="block__header">
    {{#if tweet.user}}
      <div class="block__avatar">
        <img src="{{tweet.user.profile_image_url_https}}" alt="{{tweet.user.name}}'s Profile Photo">
      </div>
      <a href="#">{{tweet.user.name}}</a> @{{tweet.user.screen_name}} •
      <a href="#"><span class="block__timestamp">{{moment-from-now tweet.created_at allow-empty=true}}</span></a>
    {{/if}}
  </div>
  <div class="block__text">
    <p>{{{tweet.formattedText}}}</p>
  </div>
  {{#if tweet.entities.media}}
    {{tweet-media media=tweet.entities.media}}
  {{/if}}
  {{#if isExpanded}}
    <p>Expanded</p>
  {{/if}}
</div>
