<div class="block__cover" style="background-image: url({{user.profileBannerUrl}});"></div>
<div class="block__text">
  <div class="block__header">
    <div class="block__avatar">
      {{#link-to "user"}}
        <img src="{{user.profileImageUrlHttps}}" alt="{{user.name}}'s avatar">
      {{/link-to}}
    </div>
    <div class="block__user">
      <h2 class="user__name">{{#link-to "user"}}{{user.name}}{{/link-to}}</h2>
      <div class="user__handle">{{#link-to "user"}}@{{user.screenName}}{{/link-to}}</div>
    </div>
  </div>
  <div class="block__stats">
    <ul class="stats">
      <li>
        <h4>Tweets</h4>
        <p>10</p>
      </li>
      <li>
        <h4>Following</h4>
        <p>{{user.friendsCount}}</p>
      </li>
      <li>
        <h4>Followers</h4>
        <p>{{user.followersCount}}</p>
      </li>
    </ul>
  </div>
</div>
